.nav{
  background-color: #282c34;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
a{
  text-decoration: none;
  color:rgb(221, 193, 193);
  margin:0 3px;
}
h1{
  font-size: 45px;
  text-align: center;
}
.product-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product-name{
 background-color: rgb(240, 222, 222);
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 margin-bottom: 9px;
 margin-right: 5px;
 padding: 12px;
 width:25%;
 border:1px solid black;
}
button{
  width: 100%;
}
.product-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.product-details{
  display: flex;
  justify-content: space-between;
  margin: 4px;
}